@{
    ViewData["Title"] = "Listado de Productos";
}
<h2>Listado de Productos</h2>
<table>
    <tr><th>Nombre</th><th>Stock</th><th>Acciones</th></tr>
    <tr><td>Ejemplo Producto</td><td>10</td><td><a href="#">Ver</a></td></tr>
</table>
